body{
  padding: 0;
}

#root{
  display: flex;
  align-items: center;
  flex-direction: column;
  
  width: 100%;
  height: 100%;

  
}

body{
  display: flex;
  align-items: center;
}

.cinema-room{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.cinema-room > * {
  width: 19%;
  margin-top: 3%;
  text-align: center;
}

.email-container{
  height: 40%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-container> button{
  margin-top: 3%;
}

.app{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-self: center;
  
}